<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="jeff saenz">
    <!-- the styles -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href='/stylesheets/bootstrap-responsive.css' rel='stylesheet'/>
    <link href="/stylesheets/docs.css" rel="stylesheet">
    <link href="/stylesheets/google-code-prettify/prettify.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/javascripts/html5shiv.js"></script>
    <![endif]-->
    <!-- the fav and touch icons -->
  </head>

  <body>

    <!--[if lt IE 7]>
        <p id="chromeframe">
          Your browser is obsolete. <a href="http://browsehappy.com/">Please upgrade to a different browser</a> or 
          <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.
        </p>
    <![endif]-->
    
    <!-- Navbar
      ================================================== -->
    <div id="jnr-top-nav" class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
     	    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
     	    </button>
          <a class="brand" href="/"><img src="/images/jr_logo_horizontal.png"/></a>
          <!--<h3>
            <a href="tel:1-714-900-2139">1-714-900-2139</a>
          </h3>-->
         	<div class="nav-collapse collapse">
            <ul class="nav">
             	<li><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
             	<li><a href="#contact">Contact</a></li>
           	</ul>
         	</div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    <!-- Billboard
      ================================================== -->
    <div id="billboard">
      <div class="row-fluid">
        <div class="billboard-message">
          <div class="span4 offset1">
            <h1>Losing the fight with home repair?</h1>
            <h2>We'll whip that house back into shape. And if we can't do it we know someone who can.</h2>
            <div class="text-center">
              <button class="btn">Contact Us</button>
            </div>
          </div>
        </div>
        <div class="visible-tablet visible-desktop span7">
          <div class="video">
            <img style="display:none" src="/images/bg_video_intro.png" width=476 height=281>
            <div class="iframe" style="padding-top:25px;padding-left:25px;"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
    <!--  <div class="row">
        <div class="span12">-->
          <!-- Services
              ================================================== -->
          <section class="services">
            <div class="row">
              <div class="span12">
                <h2 class="section-head center">Wide Range of Services</h2>
                <p class="center">
                  We provide a number of maintenance services to help keep your home in shape. All work is guaranteed! A list of services is shown below.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="span12">
                <div class="row">
                  <div class="span4">
                    <h3>General</h3>
                    <ul>
                      <li>Install Lights</li>
                      <li>Painting</li>
                      <li>Demolition</li>
                      <li>Home Entertainment Installation</li>
                      <li>Minor Plumbing</li>
                     <li>Custom Carpentry (e.g. Bookcases, Shelves)</li>
                      <li>Cleanup & Hauling</li>
                    </ul>
                    <h3>Kitchen/Bath</h3>
                    <ul>
                      <li>Vanity and Toilet Install</li>
                      <li>Tile Repair</li>
                      <li>Appliance Installation</li>
                      <li>Fixture Installation</li>
                    </ul>
                  </div>
                  <div class="span4">
                    <h3>Home Exterior & Yard</h3>
                    <ul>
                      <li>Weather Stripping</li>
                      <li>Install External Lighting</li>
                      <li>Install Exterior Doors</li>
                      <li>Gate & Fence Repair/Replacement</li>
                      <li>Wood Rot Repair</li>
                      <li>Tree Removal</li>
                      <li>Landscaping</li>
                      <li>Shed Installation</li>
                    </ul>
                    <h3>Garage</h3>
                    <ul>
                      <li>Add Storage Space</li>
                      <li>Install Shelving</li>
                      <li>Mount Wall/Ceiling Racks</li>
                      <li>Side Door Installation</li>
                      <li>Replace Window Pane on Garage Window</li>
                    </ul>
                  </div>
                  <div class="span4">
                    <h3>Seasonal</h3>
                    <ul>
                      <li>Gutter Cleaning</li>
                      <li>Window Repair</li>
                      <li>Insulation & Weather Stripping</li>
                      <li>Paint Touch Ups</li>
                    </ul>
                    <h3>Odd Jobs</h3>
                    <ul>
                      <li>Patch Drywall</li>
                      <li>Install Pet Doors</li>
                      <li>Install Flower Boxes</li>
                      <li>Change Light Bulbs</li>
                      <li>Hang Christmas Decorations</li>
                      <li>Install Simple Alert System</li>
                      <li>Assemble Furniture</li>
                      <li>Hang Mirrors</li>
                      <li>Home Storage Installation</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Prices
            ================================================== -->
          <section class="pricing">
            <div class="row">
              <div class="span12">
                <h2 class="section-head center">Reasonable Prices</h2>
                <p class="center">
                  You won't find a more reliable handyman service in the area with the same level of quality. And don't pay a dime until the work is completed.
                </p>
              </div>
            </div>

            <div class="row">
              <div class="span6">
                <p><strong>Get a free estimate today!</strong></p>
                <ul>
                  <li>Quotes are provided on either hourly basis or by the project.</li>
                  <li>Hourly rates run between $30-40 depending on the work.</li>
                </ul>
                <p class="text-center" style="padding:0">
                  <button class="btn" type="button">Request an Estimate</button>
                </p>
              </div>
              <div class="span6">
                <h3>Pricing</h3>
                <table class="table table-bordered">
                  <!--<caption style="margin-bottom:5px;">Standard Pricing</caption>-->
                  <thead>
                    <tr style="background-color:#efefef">
                      <th>Price</th>
                      <th>Service</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>$60</td>
                      <td>Basic ceiling fan installation.</td>
                    </tr>
                    <tr>
                      <td>$150</td>
                      <td>Standard home entertainment installation.</td>
                    </tr>
                    <tr>
                      <td>$300</td>
                      <td>External wall lighting installation(two lights).</td>
                    </tr>
                    <tr>
                      <td>$500</td>
                      <td>Large tree removal with hauling.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </section>

          <!-- Service Area
            ================================================== -->
          <section class="servicearea">
            <div class="row">
              <div class="span12">
                <h2 class="section-head center">Servicing Orange County</h2>
                <p class="center">We are currently able to provide service to Cypress and outlying areas. The cities covered are shown in adjacent map.</p>
              </div>
            </div>

            <div class="row">
              <div class="span6">
                <p><strong>Here are some of the cities we service:</strong></p>
                <div class="row">
                  <div class="span3">
                    <ul>
                      <li>Anaheim</li>
                      <li>Buena Park</li>
                      <li>Cypress</li>
                      <li>Garden Grove</li>
                      <li>Huntington Beach</li>
                      <li>Los Alamitos</li>
                    </ul>
                  </div>
                  <div class="span3">
                    <ul>
                      <li>Rossmoor</li>
                      <li>Seal Beach</li>
                      <li>Stanton</li>
                      <li>Westminister</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="span6">
                <h3>Service Area</h3>
                <img class="img-polaroid" src="/images/service_area.png"/>
              </div>
            </div>
          </section>


          <!-- latest projects
              ================================================== -->
          <section class="projects">
            <div class="row">
              <div class="span12">
                <h2 class="section-head center">Latest Projects</h2>
                <p class="center">We are currently able to provide service to Cypress and outlying areas. The cities covered are shown in adjacent map.</p>
              </div>
            </div>
            <div class="row">
              <div class="span8 offset2">
                <div id="myCarousel" class="carousel slide">
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="item active">
                      <img src="/images/carousel-tv.jpg" alt="">
                      <div class="carousel-caption">
                        <h4>The Entertainment Center</h4>
                        <p>This was a clean installation of an LCD.</p>
                      </div>
                    </div>
                    <div class="item">
                      <img src="/images/carousel-patio.jpg" alt="">
                      <div class="carousel-caption">
                        <h4>Second Thumbnail label</h4>
                        <p>This is the text.</p>
                      </div>
                    </div>
                    <div class="item">
                      <img src="/images/carousel-tree.jpg" alt="">
                      <div class="carousel-caption">
                        <h4>Third Thumbnail label</h4>
                        <p>Info on the tree.</p>
                      </div>
                    </div>
                  </div>
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
                </div>
              </div>
            </div>
          </section>

 <!--       </div>
      </div> -->
     </div> <!-- /container -->

    <!-- Footer
        ================================================== -->
    <footer class="footer">
      <div class="footer-nav">
   	    <div class="container">
     	    <div class="row">
   		 	    <nav class="span4">
    	 	      <h2>Help & Support</h2>
    			    <ul>
    			      <li><a href="faq.html">Frequently Asked Questions</a></li>
    				    <li><a href="mailto:service@jnrhandyman.com">service@jnrhandyman.com</a></li>
    			    </ul>
    		    </nav>
    		    <nav class="span4 offset1">
   				    <h2>Follow Us</h2>
              <ul>
                <li><a href="faq.html">Twitter</a></li>
                <li><a href="mailto:service@jnrhandyman.com">Facebook</a></li>
              </ul>
   			    </nav>
   			    <nav class="span3">
   				    <h2>Connect</h2>
   				    <ul>
   					    <li><a href="tel:1-714-900-2139">1-714-900-2139</a></li>
   					    <li><a href="/contact.html">Contact Us</a></li>
   				    </ul>
   			    </nav>
          </div>
   		  </div>
      </div>
      <div class="the-end">
        <div class="container">
          This site was designed by <a href="jeffsaenz.com">Jeff Saenz</a>.
        </div>
      </div>
    </footer>

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/home.js"></script>
  </body>
</html>