// layout.jade
!!! 5
html
	head
		block head
			title #{title}
			// styles
			// link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Ubuntu:400,700',try='text/css')
			link(rel='stylesheet', href='/stylesheets/bootstrap.css')
			link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
			link(rel='stylesheet', href='/stylesheets/main.css')
			meta(charset='utf-8')
			meta(name='viewport', content='width=device-width, initial-scale=1.0')
			meta(name='description', content='J & R Handyman Services in Orange County')
			link(rel='author', href='https://plus.google.com/u/1/110838921249868536327')
			// fav icon
	body
		//if lt IE 7
			p#chromeframe
				| Your browser is obsolete. 
				a(href='http://browsehappy.com/') Please upgrade to a different browser
				|  or 
				a(href='http://www.google.com/chromeframe/?redirect=true') Install Google Chrome Frame
				|  to experience this site.

		// header
		header
			section#global-nav.hidden-phone
				nav
					.constrain
						ul.links.topnav
							li: a(href="/about.html") About
							li: a(href="/contactus") Contact Us
							li: a(href="/estimate.html") Free Estimate
			
		#container
			.container
				// logo
				#logo-banner.constrain.clearfix
					h2.logo
						a(href="/",title="J & R Handyman") J & R Handyman

				// nav phone
					nav
						#main.constrain.clearfix
							.menu-top-container
								select#tinynav(data-placeholder="Navigate...",style="display:none")
									option
									option(value="/about") About
									option(value="/contactus") Contact Us
									option(value="/estimate") Free Estimate
								div(style='display:block;width:100%')
									a(href="javascript:void(0)")
										span Navigate...
										div
											strong

				// content		
				#content				
					block content

		// footer		
		block footer
		footer
			// #footer
			.footermenu
				ul
					li: a(href="/about.html") About
					li: &#124;
					li: a(href="/contactus.html") Contact Us
					li: &#124;
					li: a(href="/estimate.html") Free Estimate

			a(href="http://twitter.com/jnrhandyman", class="sb twitter") twitter
			a(href="https://www.facebook.com/jnrhandymancom", class="sb facebook") facebook
			a(href="https://plus.google.com/101002608316019553471", class="sb googleplus") google plus
			a(href="mailto:jnrhandymancom@gmail.com", class="sb email") email

				block scripts
					script(src='http://code.jquery.com/jquery.js')
					script(src='/javascripts/bootstrap.min.js')
					script(src='/javascripts/main.js')

