/*!
 * J & R CSS
 *
 * Designed and built @jsaenz.
 * 
 * Todo:
 *  - filter in billboard id. what is it used for.
 *  - change gradient colors for other browsers.
 *  - background-size is not supported in ie. resize video image instead.
 * - margin left for billboard-message. maybe remove.
 */

/* Body and structure
-------------------------------------------------- */

body {
  position: relative;
  padding-top: 40px;
}

/* Code in headings */
h3 code {
  font-size: 14px;
  font-weight: normal;
}

ul {
  list-style: circle url(/images/li-bullet.png) outside;
}

/* Faded out hr */
hr.soften {
  height: 1px;
  margin: 30px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

.center {
  text-align: center;
}

/* Misc
-------------------------------------------------- */
#jnr-top-nav-container {
	min-height: 63px;
	margin-bottom:0;
}
#jnr-top-nav {
	min-height: 63px;
}
.wrapper {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #efefef;
}
#chromeframe {
  background: #eeeeee;
  color: #B274A3;
  padding: 20px 0px;
  text-align: center;
  border-top: 2px solid #8FB274;
  border-bottom: 2px solid #8FB274;
  font-size: 16px;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
  font-weight: bold;
}

/* Bootstrap Overrides
-------------------------------------------------- */
.navbar .nav {
	margin: 10px 10px 0 0;
}
/*.navbar-inverse .brand {
  margin-top: 0px; 
}*/

.navbar-inverse .navbar-inner {
			background: url(/images/top_bar_transp_bg.png) repeat-x top left;
}

p {
	font-size: 16px;
}

@media (max-width: 979px) {
	.navbar-fixed-top .navbar-inner,
  	.navbar-fixed-bottom .navbar-inner {
    	padding: 0;
  	}
  .navbar-fixed-top {
		margin-bottom: 0px;
	}
	.nav-collapse,
    .nav-collapse.collapse {
        background-color: #444;
  }
 /* .nav-inner {
    padding: 0;
  }*/
}


/* Sections
-------------------------------------------------- */
#billboard {
  padding: 10px 0px 30px 0px;
  margin-top: 20px;
  margin-bottom: 15px;
  box-shadow:  0px 1px 2px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
  background: rgb(2, 0, 49);
  background: -moz-linear-gradient(45deg, rgb(2, 0, 49) 0%, rgb(109, 51, 83) 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgb(2, 0, 49)), color-stop(100%,rgb(109, 51, 83)));
  background: -webkit-linear-gradient(45deg, rgb(2, 0, 49) 0%,rgb(109, 51, 83) 100%);
  background: -o-linear-gradient(45deg, rgb(2, 0, 49) 0%,rgb(109, 51, 83) 100%);
  background: -ms-linear-gradient(45deg, rgb(2, 0, 49) 0%,rgb(109, 51, 83) 100%);
  background: linear-gradient(45deg, rgb(109, 51, 83) 0%, rgb(2, 0, 49) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 );
  -webkit-box-shadow:  0px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2), inset 0 -3px 7px rgba(0, 0, 0, 0.2);
}
#billboard .billboard-message h1 {
  font-size: 30px;
  font-family: "Avant-Demi", "Helvetica Neue", Arial, Verdana, san-serif;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  line-height: 42px;
  font-weight: 500;
}
#billboard .billboard-message h2 {
  font-family: "Helvetica Neue", Arial, Verdana, san-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  margin-bottom: 30px;
  text-shadow: 0px 1px 0px #000;
}
.services h3 {
  margin: 0px;
  font-weight: bold;
  font-size: 1.0em;
}
.pricing h3 {
  margin: 0px;
  font-weight: bold;
  font-size: 16px;
}
.servicearea h3 {
  margin: 0px;
  font-weight: bold;
  font-size: 16px;
}
.servicearea img {
  margin-bottom: 20px;
}
.servicearea ul {
  margin-bottom: 0px;
}
.section-head {
	margin: 0 0 .75em 0;
	padding: 5px 0 .25em 0;
	font-weight: 100;
	color: #BB8D47;
	background: url(/images/ui_header_underline.png) no-repeat center bottom;
}
.map-label {
  width: auto;
  max-width:410px;
}
.video {
  cursor: pointer;
  background-image: url("/images/bg_video_intro.png");
  background-size: 476px 281px;
  float: left;
  position: relative;
  height: 281px;
  width: 476px;
}

.video .iframe {
  display: none;
}

/* Footer
-------------------------------------------------- */
.footer {
  margin-top: 50px;
  border-top: 1px solid #e5e5e5;
  background-color: #444;
}

.footer a {
  color: #fff;
  font-size:12px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer li {
	padding-bottom: 3px;
	list-style: none;
}

.footer ul {
	margin-left: 0;
	padding:0;
}
.footer h2 {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
.the-end {
  padding: 10px 0 10px 0;
  margin-top: 20px;
  color: #BBB;
}
/* Responsive
-------------------------------------------------- */

/* Landscape phones to Desktop
------------------------- */
@media (max-width: 979px) {
  #jnr-top-nav-container {
    position: relative;
  }
  /*#jnr-top-nav {
    background: url(/images/top_bar_transp_bg.png) rgba(0,0,0,0.1) repeat-x top left;
  }*/
    #billboard {
    margin-top: 0px;
  }
}

/* Desktop
------------------------- */
@media (min-width: 980px) {
	#jnr-top-nav-container {
		position: abolute;
	}
	/*#jnr-top-nav {
		background: url(/images/top_bar_transp_bg.png) rgba(0,0,0,0.1) repeat-x top left;
	}*/
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }/*
  #billboard .billboard-message .offset1 {
    margin-left: 42px;
  }*/
  .row-fluid .offset1:first-child {
    margin-left: 20px;
  }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
  #billboard {
    padding: 40px 20px;
    margin-top: 0px;
    margin-right: -20px;
    margin-left: -20px;
  }
  #billboard .billboard-message h1 {
    font-size: 35px;
    line-height: 35px;
    text-align: center;
  }
  /* Unfloat the back to top link in footer */
  .footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer p {
    margin-bottom: 9px;
  }
  .footer {
    padding-top: 20px;
  }
  .footer .footer-nav nav {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.7);
    border: 1px solid #555151;
    padding: 5px 10px 5px 10px;
    margin-bottom: 5px;
    background-color: #5A5A5A;
  }
  .footer .footer-nav nav h2 {
    color: #fff;
    font-site: 21px;
  }
  .footer .footer-nav nav ul {
    padding: 0px;
  }
  .footer .footer-nav nav li {
    margin: 5px 0px 0px 0px;
  }
  .footer .footer-nav nav a {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #686869;
    line-height: 30px;
    display:block;
    padding: 0px 10px;
  }
}

/* Landscape phones
------------------------- */
/*@media (max-width: 480px) {*/
  /* Tighten up footer */
/*  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer .footer-nav nav ul {
    padding: 0px;
  }
  .footer .footer-nav nav li {
    margin: 5px 0px 0px 0px;
  }
  .footer .footer-nav nav a {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #565758;
    line-height: 30px;
    display:block;
    padding: 0px 10px;
  }
}*/
